#expedia__slider {
    position: relative;
    margin: 35px 0px 0px 0px;
  }
  #expedia__slider .slider__content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 5%;
  }
  #expedia__slider .slider__content .content__item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 0 10px;
  }
  @media (max-width: 991px) {
    #expedia__slider .slider__content .content__item {
      width: 50%;
    }
  }
  @media (max-width: 767px) {
    #expedia__slider .slider__content .content__item {
      width: 100%;
    }
  }
  #expedia__slider .slider__content .content__item .content__image {
    position: relative;
  }
  #expedia__slider .slider__content .content__item .content__image .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
  }
  #expedia__slider .slider__content .content__item .content__image img {
    height: auto;
    width: 100%;
  }
  #expedia__slider .slider__content .content__item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
  }
  #expedia__slider .slider__content .content__item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
  }
  #expedia__slider .slider__content .content__item a:hover {
    text-shadow: 0 0 1px grey;
  }
  #expedia__slider .slider__controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
  }
  #expedia__slider .slider__controls button:hover {
    color: rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 992px) {
    #expedia__slider .slider__controls button {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    #expedia__slider .slider__controls button {
      font-size: 20px;
    }
  }
  #expedia__slider .slider__controls .slider__left {
    left: 0px;
  }
  @media (max-width: 767px) {
    #expedia__slider .slider__controls .slider__left {
      left: -10px;
    }
  }
  #expedia__slider .slider__controls .slider__right {
    right: 0px;
  }
  @media (max-width: 767px) {
    #expedia__slider .slider__controls .slider__right {
      right: -10px;
    }
  }