.footer {
    max-height: 187px;
    padding: 50px 0px;
 }
 .footer__container{
    padding: 100px 0px 60px 0px;
 }
 .footer__body {
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .footer__menu {
    color: #333;
    font-size: 16px;
    font-weight: 700;
 }
 
 .menu__link_footer {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
 }
 @media(max-width: 1070px){}
 @media(max-width: 992px){
    .footer-list{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }
    .footer-list .menu__item:not(:last-child){
       margin: 0px 10px 0px 0px;
    } 
 }
 @media(max-width: 370px){
   .footer-list{
   flex-direction: column;
   }
}