.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    font-style: inherit;
 }
 .header__container {
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
 }
 .header__body_burger-logo{
    flex: 0 1 25%;
   display: flex;
    align-items: center;
 }
 header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 4;
    visibility: hidden;
 }
 
 .header__body_logo {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 40px;
 }
 .header__logo,
 .footer__logo {
    display: flex;
    background: radial-gradient(94.74% 94.74% at 26.32% 5.26%, #16DCF0 0%, #1EB3C2 47.4%, #16DCF0 100%);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 8;
    
 }
 .header__logo_title {
    padding: 0px 0px 0px 10px;
    font-size: 18px;
    color: #fff;
 }
 
 .menu__list {
    flex: 0 1 50%;
   display: flex;
    flex-direction: row;
   align-items: center;
    padding: 0px 0px 16px 0px;
 }
 .menu__item:not(:last-child) {
    margin: 0px 50px 0px 0px;
 }
 .menu__link {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: openSansHebrewCondensed;
 }
 .menu__link:hover{
    border-bottom: 2px solid white;
    background-color: transparent;
    color: #fff;
    outline: none;
    z-index: 8;

 }
 .header__search{
   flex: 0 1 25%;
  display: flex;
   align-items: center;
}
 .header__search form{
   display: flex;
    align-items: center;
 }
 .header__search form> *:not(:last-child){
    margin: 0px 5px 0px 0px;
 }

 .search__input {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: #fff;
    outline: none;
    z-index: 8;
 }
 .feader__search_search,
 .feader__search_star{
    display: block;
    z-index: 9;
 }
 /*---BURGER MENU-----------------------------------------*/
 .burger-menu {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 5;
    opacity: 0;
    
 }
 .burger-menu span{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3c ease 0c;
 }
 .burger-menu::before,
 .burger-menu::after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3c ease 0c;
 
 }
 .burger-menu::before{
    top: 0;
 }
 .burger-menu::after{
    bottom: 0;
 }
 .burger-menu.active span{
    transform: scale(0);
 }
 .burger-menu.active::before{
   transform: rotate(45deg);
   top: 9px; 
 }
 .burger-menu.active::after{
    transform: rotate(-45deg);
    bottom: 9px; 
 }
 @media(max-width: 768px){
    header::before{
       visibility: visible;
    }
    .burger-menu {
       opacity: 1;
    }
    .header__menu {
     position: fixed;
       top: -50%;
       left: -3%;
       width: 35%;
       background-color: transparent;
       z-index: 6;
       padding: 26px 0px 15px 34px;
       border-radius: 15px 0px 0px 15px;  
    }
    .header__menu.active{
       top: 7.2%;
    }
    .header__body_logo{
       position: absolute;
       left: 5%;
       z-index: 8;
    }
    .menu__list{
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       padding: 0;
       font-size: 30px;
    }
    .footer-list{font-size: 16px;}
    .menu__item:not(:last-child){
       margin: 0px 0px 10px 0px;
    }
    .burger-menu {
       display: block;
       position: absolute;
       width: 30px;
       height: 20px;
       z-index: 10;
       top: 40%;
       left: 3%;
       
    }
    .burger-menu span{
       background-color: #fff;
       position: absolute;
       width: 100%;
       height: 2px;
       top: 9px;
    }
    .burger-menu::before,
    .burger-menu::after{
       content: '';
       background-color: #fff;
       position: absolute;
       width: 100%;
       height: 2px;
       left: 0;
 
    }
    .burger-menu::before{
       top: 0;
    }
    .burger-menu::after{
       bottom: 0;
    }
    
 }
 @media(max-width: 676px){
   
   .header__menu {
      right: -2%;
   }
   .header__container{
      justify-content: center;
      padding: 0px 20px 0px 20px;
   }
 }
 @media(max-width: 490px){
  .header__container{
     justify-content: space-between;
  }
  .header__search{
     flex: 1 1 25%;
     
  }
  .search__form{
     width: 100%;
     justify-content: flex-end;
  } 
  .search__input{
     width: 38%; 
   }
 }