.newlife{
   margin: 32px 0px;
}
.header-block {
    text-align: center;
    margin: 0px 0px 30px 0px;
 }
 .header-block_title {
    font-family: inherit;
    font-weight: 700;
    font-size: 48px;
    line-height: calc(65.37 / 48 * 100%);
 }
 .header-block__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
 }
 .header-block__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19.2 / 16 * 100%);
 }
 @media(max-width: 768px){
    .header-block_title{
       font-size: 35px;
    }
 }
 @media(max-width: 470px){
    .header-block_title{
       font-size: 30px;
    }
 }
.newlife__body {
   padding: 0px 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}
.newlife__item {
   flex: 0 1 33.333%;
   display: flex;
   position: relative;
}
.newlife__column{
   margin: 10px;
}
.newlife__star {
   background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
   position: absolute;
   top: 0;
   right: 0;
   z-index: 6;
  max-width: 30px;
  height: 30px;
  padding: 5px;
}
.newlife__star_link {
   display: flex;
   align-items: center;
   justify-content: center;  
}
.newlife__front{
   background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
  max-width: 312px;
  height: 125px;
  padding: 5px 15px 5px 15px;
  transition: all 3s ease 0s;
}
.newlife__front:hover{
   height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   transition: all 3s ease 0s;  
}
.newlife__title {
   font-weight: 700;
   font-size: 24px;
   line-height: 136%;
   color: #fff;
}
.newlife__text {
   font-size: 16px;
   line-height: 120%;
   color: #fff;
}
.newlife__button{
   text-align: end;
   padding: 5px 5px 5px 0px;
}
.newlife__button_link{
 color: #fff;
 font-weight: 700;
 line-height: 136%;
}
.newlife__cover {
   position: relative;
   width: 312px;
   height: 417px;
}
.newlife__cover img{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
