.hotel {
   margin: 50px 0px 0px 0px;
   position: relative;
   padding: 0px 0px 34.69% 0px;
}

.hotel__body {
   position: absolute;
   height: 100%;
   width: 50%;
   background: rgba(0, 0, 0, 0.5) center center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 0px 50px 0px 300px;
   top: 0;
   left: 0;
   z-index: 5;
   font-family: inherit;
}


.hotel__title {
   font-size: 100px;
   font-weight: 700;
   line-height: 136%;
   color: #fff;
}
.hotel__body> *:not(:last-child){
   margin: 0px 0px 20px 0px;
}
.hotel__subtitle {
   font-size: 48px;
   font-weight: 700;
   line-height: 136%;
   color: #fff; 
}
.hotel__text {
   font-size: 16px;
   font-weight: 700;
   line-height: 136%; 
   color: #fff;
}

.hotel__button_link {
   border-radius: 5px;
   padding: 10px 36px;
   display: flex;
   min-height: 60px;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.2px;
   font-weight: 700;
   line-height: 200%; 
   background: #16DCF0;
   max-width: 150px;
   color: #fff;
   font-family: openSans;
}
.hotel__button_link:hover{
   background: -webkit-linear-gradient(45deg, rgb(22, 220, 240), rgb(28, 201, 56));
   background: -moz-linear-gradient(45deg, rgb(22, 220, 240), rgb(28, 201, 56));
   background: linear-gradient(45deg, rgb(22, 220, 240), rgb(28, 201, 56));
}
.hotel__image {
   position: relative; 
   width: 100%; 
   height: 100%;
}
.hotel__image img{
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
@media (max-width: 1600px) {
   .hotel__body> *:not(:last-child){
      margin: 0px 0px 10px 0px;
   } 
}
@media (max-width: 1280px) {
   .hotel__body {
      width: 60%;
      padding: 0px 20px 0px 200px;
   }
   .hotel__title {
      font-size: 60px;
   }
   .hotel__text{
      font-size: 16px;
   }
   .hotel__subtitle{
      font-size: 35px;
   }
}
@media (max-width: 970px) {
   .hotel__body {
      width: 100%;
      padding: 0px 20px 0px 250px;
      justify-content: center;
      align-items: center;
      padding: 0;
   }
   .hotel__title {
      font-size: 40px;
   }
   .hotel__text{
      font-size: 16px;
      text-align: center;
   }
   .hotel__text> br{
      display: none;
   }
   .hotel__subtitle{
      font-size: 25px;
   }
   .hotel__button_link{
      padding: 2px 23px;
      max-width: 98px;
      min-height: 43px;
   }
   
}
@media (max-width: 670px) {
   .hotel__body {
      padding: 0px 13px;}
   .hotel__button_link{
      padding: 0px 8px;
      max-width: 89px;
      min-height: 11px;
   }
   .hotel__title {
      font-size: 25px;
   }
   .hotel__text{
      font-size: 12px;
   }
   .hotel__subtitle{
      font-size: 18px;
   }
   .hotel__body> *:not(:last-child){
      margin: 0px 0px 3px 0px;
   } 
}

@media (max-width: 370px) {
    .hotel__title {
      font-size: 20px;
   }
   .hotel__text{
      font-size: 8px;
   }
   .hotel__subtitle{
      font-size: 12px;
   }
}